.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: rgba(44, 171, 249, 0.2);
}

.container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #eaeaea;
  text-align: left;
  text-decoration: none;
  
}

.card:hover,
.card:focus,
.card:active {
  color: #eaeaea;
  background-color: rgba(44, 171, 249, 0.4);
  background: radial-gradient(180deg, rgba(144, 146, 206, 0.5) 0%, rgba(161, 203, 252, 0.5) 100%);
}

.card h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
}

.card p {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .card {
    width: 80vw;
    margin-top: 0.5rem;
  }
}
