.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 0.5rem;
  flex-direction: column;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    margin: 0px;
  }
}
