.header {
  text-align: center;
}

.title a {
  color: #eaeaea;
  text-decoration: none;
  transition: 1000ms;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
  color: #00ABF9;
  transition: 1000ms;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #002727;
}

.title,
.description {
  text-align: center;
  color: #002727;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 6em;
  margin-bottom: 2em;
  transition: 1s;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
}

.logo:active {
  height: 7em;
  margin-bottom: 1em;
  transition: 0.1s;
  filter: hue-rotate(86deg) saturate(50%);
}

.logo:hover {
  opacity: 1;
}


@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    margin: 0px;
  }
  .title {
    font-size: 3rem;
  }
  .description {
    font-size: 1.5rem;
  }
}
